@font-face {
    font-family: HKGroteskRegular;
    src: local("Helvetica"), local("Arial"), local("sans-serif");
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HKGroteskRegular;
}

body {
    display: flex;
}

.bannerimg{
    display: flex;
    position: relative;
    height: 100vh;
}

.logocontainer{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    top: 10%;
    display: flex;
    justify-content: center;
    flex-shrink: 3;
    flex-basis: auto;
}

.logo{
    width: 150px;
}


.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f79d;
    gap: 30px;
}

.introtext{
    margin-left: 50px;
    margin-right: 10%;
}


h2:last-child{
    margin-top: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px 50px 30px 50px;
    box-shadow: #aaaaaa 0px 0px 10px;
    width: 100%;
}

button {
    background-color: #00a8ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    max-width: fit-content;
    margin-bottom: 10px;
}

input{
    max-width: fit-content;
    padding: 0.25em 0.5em;
    margin-top: 5px;
    border: 1px solid #aaaaaa;
}


label{
    color: grey;
    font-size: 0.8rem;
}

input:focus{
    border: #00a8ff 1px solid;
    box-shadow: #aaaaaa 0px 0px 10px;
}

/* input:invalid {
    border-color: red;
  } */

input.error{
    border-color: red;
}
  
fieldset{
    border: none;
    display: flex;
}

.inputline{
    display: flex;
    flex-direction: column;
    width: min(50%, 200px);
}

.inputline p{
    font-size: 0.7rem;
    color: red;
}
